﻿<p>FACULTY_NAME,</p>

<p>STUDENT_NAME (STUDENT_ID) dropped your COURSE_SECTION class on DROP_DATE.</p>

<p>Federal Regulations require the last date of attendance to be reported within 14 days of a student dropping a course. In order to comply with regulations, the last date of attendance must be entered on or before LAST_DATE.</p>

<p>Please use the following steps to enter the Last Date of Attendance for the above student:</p>

Go to <a href="https://myportal.delta.edu/">MyPortal</a> > Quick Launch > MyDelta > Faculty > Grading
<ul>
<li>Click on Term</li>
<li>Click “Final” Grading and the class</li>
<li>On the grading roster, enter Last Date of Attendance, click Submit (student should already have W grade but leave other grades blank)</li>
</ul>
<p>Since the 14 day reporting requirement has expired, we are now out of compliance.  Please report the Last Date of Attendance information as soon as possible.  If you are having any difficulty in doing so, please contact the Registrar’s Office at: 989-686-9305.</p>
<p>Please contact <a href="mailto:keithmalkowski@delta.edu">Keith Malkowski</a> (9449) if you have any questions.</p>
