﻿<p>FACULTY_NAME,</p>

<p>STUDENT_NAME (STUDENT_ID) dropped your COURSE_SECTION class on DROP_DATE.</p>

<p>Federal Regulations require the last date of attendance to be reported within 14 days of a student dropping a course. In order to comply with regulations, the last date of attendance must be entered on or before LAST_DATE.</p>

<p>Please use the following steps to enter the Last Date of Attendance for the above student:</p>

Go to <a href="https://myportal.delta.edu/">MyPortal</a> > Quick Launch > MyDelta > Faculty > Grading
<ul>
<li>Click on Term</li>
<li>Click “Final” Grading and the class</li>
<li>On the grading roster, enter Last Date of Attendance, click Submit (student should already have W grade but leave other grades blank)</li>
</ul>
Since this process is extremely time-sensitive, we ask that you immediately complete the steps above.  Additional emails will follow on the following time frame if attendance information is not completed:
<ul>
<li>10 & 12 days from student-initiated drop (instructor and division chair to receive email)</li>
</ul>
<p>Please contact <a href="mailto:keithmalkowski@delta.edu">Keith Malkowski</a> (9449) if you have any questions.</p>